.owcs-aside {
	position: fixed;
	top: 0;
	right: -100%;
	width: 400px;
	height: 100vh;
	background: white;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
	transition: right 0.3s ease;
	z-index: 9999;
}

.owcs-aside.active {
	right: 0;
}
